div {
    float:left;
    width: 10%;
    padding-bottom: 10%;
    margin:1.66%;
}
div:nth-child(even) {
    background-color: dodgerblue;}
div:nth-child(odd) {
    background-color: black;}
div:hover{
    background-color: orange;
}
