.result {
    width:70px;
    height:70px;
    margin:0;
    padding:0;
    border-radius:50px;
    position:absolute;
    display:inline-block;
    background-color: red;
}
.block {
    width:70px;
    height:70px;
    margin:0;
    padding:0;

    position:absolute;
    display:inline-block;
    background-color: red;
}


#container {
    width: 1110px;
    height: 400px;
    position: relative;
    border: 1px solid black;
}